<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">

<head>
    <title>Home</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <section class="py-5" layout:fragment="body">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Add a Pet</h1>
            </div>
            <div class="row gx-5">
                <form method="post" role="form" th:action="@{/pets/new}" th:object="${pet}">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input
                                class="form-control"
                                id="name"
                                name="name"
                                placeholder="Name"
                                required
                                th:field="*{name}"
                                type="text"><br>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <select
                                id="gender"
                                name="gender"
                                required
                                th:field="*{gender}">
                            <option value="">-- Please select --</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select><br>
                    </div>

                    <div class="form-group">
                        <label for="type">Type:</label>
                        <select
                                id="type"
                                name="type"
                                required
                                th:field="*{type}">
                            <option value="">-- Please select --</option>
                            <option value="CAT">Cat</option>
                            <option value="DOG">Dog</option>
                        </select><br>
                    </div>

                    <div class="form-group">
                        <label for="age">Age:</label>
                        <input
                                class="form-control"
                                id="age"
                                name="age"
                                placeholder="Age"
                                required
                                th:field="*{age}"
                                type="number"><br>
                    </div>


                    <div class="form-group">
                        <label for="bodySize">Body Size:</label>
                        <select
                                id="bodySize"
                                name="bodySize"
                                required th:field="*{bodySize}">
                            <option value="">-- Please select --</option>
                            <option value="SMALL">Small</option>
                            <option value="MEDIUM">Medium</option>
                            <option value="LARGE">Large</option>
                        </select><br>
                    </div>

                    <!--                <div class = "form-group">-->
                    <!--                    <label for="vaccineHistoryId">Vaccine History ID:</label>-->
                    <!--                    <input-->
                    <!--                            type="number"-->
                    <!--                            class="form-control"-->
                    <!--                            id="vaccineHistoryId"-->
                    <!--                            name="vaccineHistoryId"-->
                    <!--                            th:field="*{vaccineHistoryId}"-->
                    <!--                            placeholder="Vaccine History ID"-->
                    <!--                            required><br>-->
                    <!--                </div>-->

                    <div class="form-group">
                        <label for="rescueDate">Rescue Date:</label>
                        <input
                                class="form-control"
                                id="rescueDate"
                                name="rescueDate"
                                placeholder="Rescue Date"
                                required
                                th:field="*{rescueDate}"
                                type="date"><br>
                    </div>

                    <div class="form-group">
                        <label for="imagePath">Image Path:</label>
                        <input
                                class="form-control"
                                id="imagePath"
                                name="imagePath"
                                placeholder="Image Path"
                                required
                                th:field="*{imagePath}"
                                type="text"><br>
                    </div>

                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea
                                class="form-control"
                                id="description"
                                name="description"
                                placeholder="Description"
                                required
                                th:field="*{description}">
                  </textarea><br>
                    </div>
                    <div class="form-group">
                        <label for="isSterilized">Is Sterilized:</label>
                        <input
                                id="isSterilized"
                                name="isSterilized"
                                th:field="*{isSterilized}"
                                type="checkbox">
                        <br>
                    </div>
                    <!--                <div class = "form-group">-->
                    <!--                    <label for="applicationLimit">Application Counter:</label>-->
                    <!--                    <input-->
                    <!--                            type="number"-->
                    <!--                            id="applicationLimit"-->
                    <!--                            name="applicationLimit"-->
                    <!--                            class="form-control"-->
                    <!--                            th:field="*{applicationCounter}"-->
                    <!--                            placeholder="Application Counter"-->
                    <!--                            required><br>-->
                    <!--                </div>-->
                    <button type="submit">Add Pet</button>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>